@import url("https://unpkg.com/maplibre-gl/dist/maplibre-gl.css");

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-gray-01: rgba(244, 244, 244, 1);
  --color-gray-03: rgba(158, 158, 160, 1);
  --color-gray-05: rgba(72, 72, 75, 1);
  --color-gray-06: rgba(29, 29, 33, 1);

  --color-tier-1: rgba(242, 94, 255, 1);
  --color-tier-2: rgba(0, 148, 255, 1);
  --color-tier-3: rgba(70, 228, 171, 1);
  --color-tier-4: rgba(192, 191, 191, 1);
}

.topBar {
  display: flex;
  align-items: center;
  padding: 0px 24px;
  height: 64px;
  background: var(--color-gray-06);
  border-bottom: 0.75px solid var(--color-gray-05);
  color: var(--color-gray-01);
}

.topBar h1 {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 700;
}

.toggleBtnContainer {
  margin-left: auto;
  font-weight: 700;
}

.toggleBtnContainer button {
  font-size: 16px;
  width: 85px;
  padding: 6px 8px;
  background-color: var(--color-gray-05);
}
.toggleBtnContainer .active {
  background-color: var(--color-gray-01);
  color: var(--color-gray-06);
}

.toggleBtnContainer button:first-child {
  border-radius: 5px 0 0 5px;
}

.toggleBtnContainer button:last-child {
  border-radius: 0 5px 5px 0; 
}


/* MAP STUFF */


#map-container {
  position: relative;
  width: 100%;
  height: calc(100% - 64px);  /* To accommodate the top bar */
  background-image: url("https://images.unsplash.com/photo-1579547945478-a6681fb3c3c9?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 'cover';
  background-position: 'center';
}

#legend {
  position: absolute;
  top: 24px;
  left: 24px;
  padding: 16px;
  background-color: var(--color-gray-06);
  border: 0.5px dashed var(--color-gray-05);
  border-radius: 3px;
  color: var(--color-gray-01);
  display: flex;
  gap: 12px;
  font-weight: 400;
  font-size: 12px;
}

#legend .legendMarker {
  border-radius: 200px;
}

#legend figure {
  display: flex;
  align-items: center;
  gap: 4px;
}

#legend figcaption {
  cursor: default !important;
}

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-popup-content {
    padding: 0px;
    background: none;
}

.mapMarker {
  border-radius: 200px;
  outline: 0.75px solid var(--color-gray-01);
  outline-offset: -5px;
}

.mapMarker:hover {
  cursor: pointer;
}

.tier1Marker {
    background:  radial-gradient(circle at center center, var(--color-tier-1), rgba(0,0,0,0) 80%);
}
  
.tier2Marker {
    background: radial-gradient(circle at center center, var(--color-tier-2), rgba(0,0,0,0) 80%);
}

.tier3Marker {
    background: radial-gradient(circle at center center, var(--color-tier-3), rgba(0,0,0,0) 80%);
}

.tier4Marker {
    background: radial-gradient(circle at center center, var(--color-tier-4), rgba(0,0,0,0) 80%);
}


/* Popup Dialog */

.popupContainer {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popupContainer:focus-visible {
  outline: none !important;
}

.popupBackdrop {
  position: fixed;
  background: var(--color-gray-06);
  opacity: .4;
  inset: 0;
}

.popupMain {
  display: flex;
  background: linear-gradient(127.23deg, #1D1D21 28.41%, #26262B 111.37%);
  color: var(--color-gray-01);
  border-radius: 6px;
  z-index: 100;
  box-shadow: 5.6px 11.2px 11.2px hsl(0deg 0% 0% / 0.33);
}

.cityImage {
  position: relative;
  background-image: url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=3044&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  min-width: 324px;
  height: 149px;
  border-top-left-radius: 6px;
}

.cityImageOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(29,29,33,0.65) 85%, rgba(29,29,33,1) 100%);
}

.cityImage h4 {
  position: absolute;
  background-color: var(--color-gray-06);
  color: var(--color-gray-01);
  font-weight: 600;
  font-size: 0.8rem;
  padding: 11px 8px;
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
  top: 21px;
  left: 25px;
  border-radius: 8px;
}

.cityInfo {
  min-width: 324px;
  max-width: min-content;
  padding: 16px 40px 40px 40px;
}

.cityInfoTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.75px solid var(--color-gray-03);
  padding-bottom: 8px;
  margin-bottom: 18px;
  width: 100%;
  white-space: nowrap;
  gap: 24px;
}

.cityInfoTitle h3 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 0%;
}

.cityInfoTitle p {
  font-size: 1rem;
  margin: 0;
}

.cityInfoDesc {
  font-size: 0.82rem;
  width: 100%;
}

.popupStatsPane {
  width: 290px;
  border-left: 1px solid var(--color-gray-05);
  padding: 20px 40px 0px 40px;
}

.tierPill {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background: var(--color-tier-3);
  box-shadow: 0 0 20px 2px var(--color-tier-3), inset 0 0 10px var(--color-gray-06);
  padding: 10px 0;
  border-radius: 8px;
  outline: 0.75px solid var(--color-gray-01);
  outline-offset: -3px;
  font-weight: 600;
  filter: brightness(80%);  
}

.statsContainer {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 22px;
}

.statsTitle {
  margin-bottom: 0;
  padding-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.75px solid var(--color-gray-03);
}

.statsPopulation {
  margin-top: 8px;
  font-size: 1rem;
}

.genreItem {
  font-size: 1rem;
  padding: 12px 0px 8px 0px;
  border-bottom: 1px solid var(--color-gray-05);
}

.genreItem span {
  float: right;
}

.dialog-panel[data-closed] {
  transform: scale(0.95);
  opacity: 1;
}
