body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
}

/* CSS Reset for buttons */
button {
  all: unset; /* Resets all properties to their initial values */
  display: inline-block; /* Resets the display property */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  margin: 0; /* Resets margin */
  padding: 0; /* Resets padding */
  border: none; /* Removes border */
  background: none; /* Removes background */
  font: inherit; /* Inherits font properties from parent */
  color: inherit; /* Inherits color from parent */
  text-align: center; /* Ensures text is centered */
  text-decoration: none; /* Removes text decoration */
  cursor: pointer; /* Ensures cursor is a pointer */
  line-height: normal; /* Resets line-height */
}


/* CSS Reset for figure */
figure {
  all: unset; /* Resets all properties to their initial values */
  display: block; /* Resets the display property */
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  margin: 0; /* Resets margin */
  padding: 0; /* Resets padding */
  border: none; /* Removes border */
  background: none; /* Removes background */
  font: inherit; /* Inherits font properties from parent */
  color: inherit; /* Inherits color from parent */
  text-align: inherit; /* Inherits text alignment from parent */
  line-height: normal; /* Resets line-height */
}