@import url("https://unpkg.com/maplibre-gl/dist/maplibre-gl.css");

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-popup-content {
    padding: 0px;
    background: none;
}

.tier1Marker {
    background:  radial-gradient(circle at center center, rgba(242,94,255,0.5), rgba(0,0,0,0));
}
  
.tier2Marker {
    background: radial-gradient(circle at center center, rgba(0,148,255,0.5), rgba(0,0,0,0));
}

.tier3Marker {
    background: radial-gradient(circle at center center, rgba(70,228,171,0.5), rgba(0,0,0,0));
}

.tier4Marker {
    background: radial-gradient(circle at center center, rgba(192,191,191,0.5), rgba(0,0,0,0));
}